/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}

h1 {
  font-weight: normal;
  margin: 1em 0 0 1px;
  padding: .5em 0 .5em 3px;
  border-left: .5em solid purple;
  background-color: #efe9f3;
}

h2 {
  margin: 2em 0 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2em;
}

section {
  color: #0c2a44;
}

p {
  line-height: 1.5;
}

p:first-of-type::first-letter {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3em;
  font-weight: bold;
  line-height: 1;
}

.quote {
  text-align: justify;
  font-style: italic;
  font-size: .9em;
  line-height: 2;
  margin: 1em 2em 1em 4em;
  text-transform: uppercase;
}

.quote::before {
  content: "“";
  font-size: 3em;
  vertical-align: text-bottom;
  line-height: .4em;
}

.quote::after {
  content: "”";
  font-size: 3em;
  vertical-align: text-top;
  line-height: 1.2em;
}

#titulo-principal {
  text-transform: uppercase;
}

[id="titulo-principal"] {
  text-shadow: .1em .1em .1em #8000086e;
  color: #1b1919;
}

.misterio {
  text-transform: capitalize;
  text-shadow: .1em .1em .1em rgba(0, 0, 0, .35);
}

.misterio:hover {
  color: red;;
}

span {
  border: 2px solid salmon;
  background-color: #f3e9f0;
  padding: .5em;
  margin: 1em;
}

div {
  border: 2px solid seagreen;
  background-color: #eef3e9;
  padding: .5em;
  margin: 1em;
}

a {
  background-color: salmon;
  color: white;
  text-decoration: none;
  border-radius: .35em;
  margin: 1em;
  padding: .35em;
}

.inbl {
  display: inline-block;
  color: blue;
}
